@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins' ,sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Css variables */
:root {
  --light: #fff;
  --dark: #222;
  --primary-color: #ff3e00;
  --text-color: #f85d24;
  --shadow: 0 0 6px rgba(0, 0, 0, 0.9);
  --shadow-inset: -3px -3px 5px #ffdddd,
                  3px 3px 5px rgba(0, 0, 0, 0.5);
}

/* ==Global wrapper== */
.wrapper {
  width: calc(100% - 100px);
  max-width: 1366px;
  margin: 0 auto;
}

.landing-page {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.landing-page::after {
  z-index: -9;
  content: "";
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: var(--primary-color);
  position: absolute;
  left: 70%;
  top: 11%;
  -webkit-transition: background-color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 99;
}

.sticky {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

header .logo {
  font-size: 2rem;
  color: var(--primary-color);
  padding: .2rem 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 20px 0 20px 0;
}

/* ==Navigation bar== */
.nav-bar {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-links li{
  margin-left: 3rem;
}

.nav-links a {
  color: var(--primary-color);
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.nav-links a:hover {
  border-bottom: 2px solid var(--primary-color);
}

header .menu-toggler {
  display: none;
}

/* ==Product showcase== */
.showcase-container {
  margin-top: 80px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.desc h1 {
  font-size: 3rem;
  color: var(--primary-color);
  text-transform: capitalize;
  -webkit-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

.desc p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--dark);
  font-weight: 500;
}

.btn {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: .7rem 2rem;
  color: #fff;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  -webkit-box-shadow: var(--shadow-inset);
          box-shadow: var(--shadow-inset);
  -webkit-transition: background-color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}

.btn:hover {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

.showcase {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase img {
  width: 70%;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.social-media i {
  font-size: 2rem;
  margin: 2rem 0 0 2rem;
  color: #fff;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  -webkit-transform: scale(.85);
      -ms-transform: scale(.85);
          transform: scale(.85);
}

.social-media i:hover,
.showcase img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

/* ==Landing page product showcase images== */
.img-slider {
  padding: 1rem 0;
  display: -ms-grid;
  display: grid;
  /* -ms-grid-columns: (1fr)[5]; */
  grid-template-columns: repeat(5, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.img-slider img {
  width: 60%;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.img-slider img:hover {
  -webkit-transform: translateY(-5%);
      -ms-transform: translateY(-5%);
          transform: translateY(-5%);
  cursor: pointer;
}

.landing-page img {
  -webkit-filter: drop-shadow(2px 4px 4px black);
          filter: drop-shadow(2px 4px 4px black);
}

.latest-products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;
}

.img-card {
  max-width: 300px;
  width: 100%;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  border-radius: 10px;
}

.img-card .img-container{
  height: 250px;
  /* background: var(--primary-color); */
  background: #42454d;
}

.img-container img {
  width: 90%;
  max-width: 300px;
  -webkit-filter: drop-shadow(0 0 6px #fff);
          filter: drop-shadow(0 0 6px #fff);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  /* transform: scale(.9); */
}

.img-container img:hover {
  -webkit-transform: scale(1.075);
      -ms-transform: scale(1.075);
          transform: scale(1.075);
  cursor: pointer;
}

.product-desc {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-desc .icon {
  content: "";
  width: 45px;
  position: absolute;
  height: 45px;
  border-radius: 50%;
  top: 0%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  /* background-color: var(--primary-color); */
  background: #42454d;
  border: 4px solid #fff;
}

.product-desc .icon i {
  color: #fff;
  font-size: 1.3rem;
  line-height: 40px;
  cursor: pointer;
}

.product-desc .name {
  padding: 2rem .5rem;
}

/* ==Product - Hot deal== */
.items {
  display: -ms-grid;
  display: grid;
  gap: .5rem;
      grid-template-areas: 
  'main main side-pic-a'
  'main main side-pic-b';
}

.featured-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
}
.featured-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: side-pic-a;
}
.featured-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: side-pic-b;
}

.item-feature img {
  width: 100%;
  height: 100%;
}

.products {
  text-align: center;
}

section .intro {
  color: var(--dark);
  display: inline-block;
  margin: 3rem 0;
  border-bottom: 5px solid var(--primary-color);
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  position: relative;
}

.item {
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden;
}

.item img {
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  width: 100%;
  -webkit-filter: drop-shadow(0 2px 4px black);
          filter: drop-shadow(0 2px 4px black);
}

.sell-item img:hover{
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.product-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.item .product-name {
  font-size: 1.5rem;
  text-align: center;
  color: var(--dark);
  /* padding-bottom: 1rem; */
  border-bottom: 1px solid var(--dark);
}

.item .detail {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item .add-to-cart, .item .to-fav-list {
  color: var(--text-color);
  font-size: 1.5rem;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: scale(.9);
      -ms-transform: scale(.9);
          transform: scale(.9);
}

.item .add-to-cart:hover,
.item .to-fav-list:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.item .price {
  font-size: 1.3rem;
  font-weight: 500;
  color: #ff4400;
}

.pagination {
    text-align: center;
    margin: 2rem;
}

.pagination .page-num,
.page-prev,
.page-next {
  font-weight: bold;
  display: inline-block;
  color: var(--text-color);
  padding: .5em 1em;
  border-radius: 10px;
  border: 2px solid var(--text-color);
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.pagination .active {
  background-color: var(--text-color);
  color: var(--light);
}

.page-num:hover:not(.active) {
  -webkit-transform: translateY(-8%);
      -ms-transform: translateY(-8%);
          transform: translateY(-8%);
}


/* footer */
footer {
  font-size: 1.2rem;
  background-color: #42454d;
  color: #fff;
}

.footer-detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem 0;
}

.page-logo {
  cursor: pointer;
  border: 2px solid var(--text-color);
  border-radius: 20px 0 20px 0;
  padding: .25rem 2rem;
  display: inline-block;
  margin-bottom: 1rem;
  color: var(--text-color);
  font-size: 2.5rem;
}

.page-address {
  -ms-grid-column-align: end;
      justify-self: end;
}

.page-address ul{
  list-style: none;
}

.page-address ul li {
  margin: 1rem 0;
}

.page-address a {
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.page-address p {
  color: var(--text-color);
  font-size: 1.5rem;
}

.page-address a,
.copy-right a {
  color: #fff;
}

.page-sm i {
  font-size: 2rem;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.page-sm i:hover,
.page-address a:hover  {
  color: var(--text-color);
  cursor: pointer;
}

.page-sm i:not(:last-child) {
  margin-right: 1.5rem;
}

.copy-right {
  text-align: center;
}

.copy-right span {
  color: var(--text-color);
}


/* Media query for tablet */
@media (max-width: 769px) {

  .wrapper {
    width: 90%;
  }

  header .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    height: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    background: #fff;
    top: 99%;
    left: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    -webkit-transition: height .2s linear;
    -o-transition: height .2s linear;
    transition: height .2s linear;
  }

  .nav-links li {
    margin: 2rem 0;
  }

  .nav-links.menu-active {
    height: 300px;
  }

  header .menu-toggler {
    display: block;
    color: var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
    -webkit-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
  }

  header .menu-toggler.menu-close i:before {
    content: "\f00d";
  }

  .showcase-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    height: 100%;    
  }

  .showcase {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .showcase img,
  .landing-page img {
    width: 75%;
    -webkit-filter: drop-shadow(1px 2px 6px #fff);
            filter: drop-shadow(1px 2px 6px #fff);
  }

  .social-media {
    background-color: var(--primary-color);
    -webkit-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
    padding: 0 .5em;
    margin-left: 1rem;
    border-radius: 8px;
    -webkit-box-shadow: var(--shadow-inset);
            box-shadow: var(--shadow-inset);
  }
  
  .social-media i{
    margin: 1rem 0;
    font-size: 1.5;
  }
  
  .landing-page::after {
    width: 1024px;
    height: 1024px;
    top: 20%;
    left: -15%;
  }

  .desc h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  .desc p {
    font-size: 1rem;
    margin-bottom: 2.5rem;
    margin-top: 1.2rem;
    color: rgb(39 39 39);
    font-weight: 500;
  }

  .latest-products {
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .items {
        grid-template-areas: 
    'main'
    'main'
    'side-pic-a'
    'side-pic-b';
  }
  
  .product-list {
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }

  .footer-detail {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    text-align: center;
  }

  .page-address {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .featured-1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .featured-2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .featured-3 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
}

/* Media query for common screen devices */
@media (max-width: 540px) {
  .landing-page::after {
    width: 800px;
    height: 800px;
    top: 20%;
    left: -10%;
  }

  .latest-products {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

/* Media query for really small screen devices */
@media (max-width: 320px) {

  header {
    height: 40px;
  }

  header .logo {
    font-size: .75rem;
    border-radius: 10px 0 10px 0;
  }

  header .menu-toggler {
    font-size: 1.25rem;
  }

  .pagination .page-num,
  .page-prev,
  .page-next {
    padding: 0em .5em;
  }

  .social-media i {
    margin: .5rem 0;
    font-size: 1.5rem;
  }
}