@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

:root {
    --bgColor: #2f3640;
    --firstColor: rgb(23, 240, 131);
    --secondColor: rgb(240, 236, 23);
}

.container-fluid {
    background: var(--bgColor);
    min-height: 100vh;
}

.intro {
    padding-top: 2rem;
    position: relative;
    margin-bottom: 5rem;
}

.intro::after {
    content: "";
    top: 100%;
    left: 50%;
    position: absolute;
    width: 15%;
    height: 2px;
    background: tomato;
    border-radius: 50px;
    transform: translateX(-50%);
}

.card-body  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: var(--bgColor);
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 2rem;
}

.img-container.first {
    border-top: 3px solid var(--firstColor);
    border-right: 3px solid var(--firstColor);
    border-bottom: 3px solid var(--firstColor);
}

.img-container.second {
    border-top: 3px solid var(--secondColor);
    border-right: 3px solid var(--secondColor);
    border-bottom: 3px solid var(--secondColor);
}

.img-container img{
    width: 90%;
    border-radius: 50%;
}

.social-media__icon {
    position: absolute;
    background: var(--bgColor);
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.social-media__icon:nth-child(1) {
    transform: translate(0, 100%);
}

.social-media__icon:nth-child(2) {
    transform: translate(50%, 300%);
}

.social-media__icon:nth-child(3) {
    transform: translate(0, 500%);
}

.social-media .social-media__icon i {
    transition: all .150s linear;
}

.social-media .social-media__icon i:hover {
    transform: scale(1.3);
}

.social-media.first .social-media__icon {
    border: 2px solid var(--firstColor);
}

.social-media.first .social-media__icon i{
    color: var(--firstColor);
}

.social-media.second .social-media__icon {
    border: 2px solid var(--secondColor);
}

.social-media.second .social-media__icon i{
    color: var(--secondColor);
}