@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins' ,sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Css variables */
:root {
  --light: #fff;
  --dark: #222;
  --dark-gray: #dbdbdb;
  --primary-color: #ff5429;
  --primary-color-dark: #ff3300;
   --text-color: #f85d24;
}

.wrapper {
  width: calc(100% - 100px);
  max-width: 1366px;
  margin: 0 auto;
}

.cart-container {
  min-height: 100vh;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  /* border: 1px solid #f85d24; */
}

thead {
  /* border: 1px solid #ff3300; */
  background: #ff3300;
}

thead th{
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
  /* text-align: left; */
}

td {
  text-align: center;
}

/* td:last-child {
  text-align: right;
} */

.item {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.item img {
  max-width: 150px;
}














.sponsor {
  margin: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sponsor img {
  max-width: 150px;
  width: 20%;
  transition: transform .3s ease;
}

.sponsor img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* footer */
footer {
  font-size: 1.2rem;
  background-color: #42454d;
  color: #fff;
}

.footer-detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem 0;
}

.page-logo {
  cursor: pointer;
  border: 2px solid var(--text-color);
  border-radius: 20px 0 20px 0;
  padding: 0.25rem 2rem;
  display: inline-block;
  margin-bottom: 1rem;
  color: var(--text-color);
  font-size: 2.5rem;
}

.page-address {
  -ms-grid-column-align: end;
  justify-self: end;
}

.page-address ul {
  list-style: none;
}

.page-address ul li {
  margin: 1rem 0;
}

.page-address a {
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.page-address p {
  color: var(--text-color);
  font-size: 1.5rem;
}

.page-address a,
.copy-right a {
  color: #fff;
}

.page-sm i {
  font-size: 2rem;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.page-sm i:hover,
.page-address a:hover {
  color: var(--text-color);
  cursor: pointer;
}

.page-sm i:not(:last-child) {
  margin-right: 1.5rem;
}

.copy-right {
  text-align: center;
}

.copy-right span {
  color: var(--text-color);
}